<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>


    <title>demo</title>
  <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
   
  </head>
  <body>
    <header>
      <h1>Los Pokemones - CRUD </h1>
    </header>
<p><a href="create_pokemon.html">Create Pokemon - Crea Pokemon</a></p>
<p><a href="read_pokemon.html">Read Pokemon - Lee Pokemon</a></p>
<p><a href="update_pokemon.html">Update Pokemon - Actualiza Pokemon</a></p>
<p><a href="delete_pokemon.html">Delete Pokemon - Borra Pokemon</a></p>
    
  </body>
</html>
